pkgbase = t-pgsql
	pkgdesc = PostgreSQL database sync, backup and clone tool with notifications
	pkgver = 3.9.0
	pkgrel = 1
	url = https://github.com/Asimatasert/t-pgsql
	arch = any
	license = MIT
	depends = postgresql
	depends = curl
	depends = openssh
	depends = bash
	optdepends = zsh: for zsh completion support
	optdepends = bash-completion: for bash completion support
	optdepends = fish: for fish completion support
	source = t-pgsql-3.9.0.tar.gz::https://github.com/Asimatasert/t-pgsql/archive/refs/tags/v3.9.0.tar.gz
	sha256sums = 78c4ac15a8f0da06d484a41e48a7bf696a765a3dd01572cf08501c24a8498905

pkgname = t-pgsql
